@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Montserrat-regular";
  src: url("/fonts/Montserrat-Regular.ttf");
}
.font-montserrat {
  font-family: "Montserrat-regular", sans-serif;
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("/fonts/Montserrat-Bold.ttf");
}
.font-montserrat-medium {
  font-family: "Montserrat-medium", "Montserrat-regular", sans-serif;
}

@font-face {
  font-family: "Montserrat-medium";
  src: url("/fonts/Montserrat-Medium.ttf");
}
.font-montserrat-bold {
  font-family: "Montserrat-bold", "Montserrat-regular", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.01);
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: #de3c3f;
}

/* Images and Animations */
.arrow {
  width: 9px;
  height: 15px;
  background-size: cover;
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.next {
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.57141 12.9905L7.23808 7.32382L1.57141 1.65715' stroke='%23E13D2A' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.primary {
  animation-delay: 0.2s;
}
@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  25% {
    opacity: 0;
    transform: translateX(10px);
  }
  26% {
    opacity: 0;
    transform: translateX(-10px);
  }
  55% {
    opacity: 1;
    transform: translateX(0px);
  }
}
